/* Header section */
#accueil {
    margin: 30px auto;
    width: 100%;
    position: relative;
    .banner {
        margin-left: 20px;
        margin-bottom: 30px;
    
        &__profile {
            display: block;
            width: 250px;
            height: auto;
            margin: 30px auto 30px;
            padding-left: 60px;
            filter: drop-shadow(2px 10px 20px rgba(0, 0, 0, 0.877));
        }
    
        .--border {
            border: 3px solid $accentcolor;
            border-radius: 5px;
        }
    
        .underline {
            text-decoration: underline;
            text-decoration-color: $accentcolor;
        }
    }
    
    .banner__picture {
        display: block;
        width: 250px;
        height: auto;
        margin: 20px auto;
        border: 3px solid $accentcolor;
        border-radius: 5px;
    }
    
}
@media screen and (min-width: 900px) {
 #accueil {
     display: flex;
     justify-content: space-between;
     margin: 0;
    .banner {
        margin: 20px auto 30px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 70%;
    }

    .banner__profile {
        margin-left: 30px;
        width: 360px !important;
    }
        .banner__picture {
            display: none;
        }

        .--desktop {
            margin-left: 55px;
            display: block;
        }
 }

}