/* Buttons Components */
.btn__container {
    border: 1px solid $accentcolor;
    border-radius: 5px;
    position: relative;
    width: 146px;
    height: 40px;
    transition: 0.5s;

    .--btn {
        width: 100%;
        top: 3px;
        left: 3px;
        position: absolute;
        background-color: $accentcolor;
        padding: 10px 20px;
        border-radius: 5px;
        color: $fontcolor;
        font-size: 16px;
        transition: 0.5s;
    }

    .--btn:hover {
        top: 0px;
        left: 0px;
    }

    @media screen and (min-width: 900px) {
        .--btn {
            font-size: 16px;
        }
    }
}

.btn__container:hover {
    border-color: transparent;
}