/* NavBar Components */
.navbar-brand {
  text-decoration: none;
  color: $fontcolor !important;
}

.nav__social {
  display: none;
}

.menu__item {
  color: $backgroundcolor;
  border-bottom: 1px solid $accentcolor;
  padding-bottom: 3px;
  padding-top: 30px;
  position: relative;

  margin-right: 15px;
  transition: .5s;
}
.menu__item a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

.menu__item:hover {
  margin-right: 20px;
  border-bottom: 1px solid $accentcolor;
  padding-bottom: 3px;
  color: $backgroundcolor;
}

.menu__container {
  box-shadow: 0 0 10px #030303;
  text-align: center;
  display: flex;
  list-style: none;
  position: fixed;
  width: 400px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: $backgroundsection;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: black;
  transition: all 0.3s linear;
  transform: translate(102%);
  z-index: 5;
}

.openedMenu{
  transform: translate(0%);
}

@media screen and (min-width: 670px) {
    .menu__container {
        width: 30%;
    }
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  width: 40px;
  height: 40px;
  z-index: 10;
}
.menu:focus {
  outline: none;
} 
.line {
  fill: none;
  stroke: $accentcolor;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@media screen and (min-width: 900px) {
  .navbar {
    margin: 19px 65px;
  }

  .nav__social {
    display: block;
  }

  .nav__social a {
    color: $accentcolor;
    font-size: 30px;
    margin-right: 34px;
  }
}