/* Pagination Numbers */
.number__section {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;

    .number__container {
        display: flex;
        align-items: center;
        height: 60px;
    }

    .number__text {
        text-transform: uppercase;
        font-size: 0.9375rem;
        font-weight: 700;
    }

    .number__text::after {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        background-color: $fontcolor;
        width: 60px;
        margin: 10px;
        height: 1px;
    }

    .number__number {
        font-size: 3.125rem;
        font-weight: 700;
        -webkit-text-stroke: 1px $secondfontcolor;
        -webkit-text-fill-color: transparent;
    }

    .--orange {
        color: $accentcolor;

        .number__text::after,
        .number__text::before {
            background-color: $accentcolor;
        }

        .number__number {
            -webkit-text-stroke: $accentcolor;
            -webkit-text-fill-color: $accentcolor;
        }
    }
}

.--desktop {
    display: none;
}

@media screen and (min-width: 900px) {

    .--mobile {
        display: none;
    }

    .number__section {
        margin-left: 80px;

        .number__container {
            height: 400px;
            flex-direction: column-reverse;
        }

        .number__text {
            writing-mode: vertical-lr;
            font-size: 2rem;
            transform: rotate(180deg);
        }

        .number__text::after {
            vertical-align: initial;
            width: 2px;
            margin: 5px;
            height: 45px;
        }

        .number__number {
            margin-bottom: 0;
        }
    }

    .--about {
        margin-left: 55px;

        .--aboutnbr {
            justify-content: flex-end;
        }
    }

    .--skillsnbr {
        margin-top: 130px;
    }
}